/* Decimal - base 10 (you have 10 choices) */
/* Binary - base 2 */
/* Hexadecimal - base 16 */
/* 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, A, B, C, D, E, F */

body {
    background: url(https://www.babybedding.com/images/fabric/gray-woodgrain-fabric_large.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

div {
    background: rgb(134, 255, 108);
}

h1 {
    color: #FF0000;
    /* width, style, color */
    border: 2px solid purple;
}

h4 {
    color: #FF8000;
}

li {
    color: rgba(24, 124, 1, 0.5);
}

/* Selects id attribute: put # symbol in front. Use . for classes. */
#special {
    color: rgba(24, 124, 1, 1);
}

.learning {
    color: rgb(255, 0, 105);
}

p {
    color: #0066C0;
}